<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{{ user.name }}'s Watchlist</title>
</head>

<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" />
        {{ user.name }}'s TemperatureInsight
    </h2>
    {# 使用 length 过滤器获取 environmentQuery 变量的长度 #}
    <p>{{ environmentQuery|length }} Piece(s)</p>
    <ul class="movie-list">
        {# 迭代 environmentQuery 变量 #}
        {% for environment in environmentQuery %}
        <li>{{ environment.temperature }}° - {{ environment.humidity }}% - {{environment.luminous_intensity}} lux - AQI
            {{environment.air_quality}}</li> {# 等同于 movie['title'] #}
        {% endfor %} {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>

</html>